
h1 {
  color: #0C6170;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

p{
  color: black;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;

}

body {
  background-color: #A4E5E0;
}

#box-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;    
}

#search-city{
    display: flex;
    flex-direction: row;
    width: 20rem;
    justify-content: space-between;
    padding: 5px;
}

#weather-info{
    margin-top: 5px;
    border: 10px solid #0C6170;
    background-color: #37BEB0;
    border-radius: 5px;
    width: 25rem;
    
}